@import 'base/index.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}
img { 
    width: 100%;
}

.wrapper {
  position: relative;
  height: 650px;
  img.banner-background {
    position: absolute;
    top: 0;
    object-fit: cover;
  }
}

.hero {
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  top: 0;

  header {
      width: 100%;
      padding: 5%;
      display: flex;
      justify-content: space-between;
      position: relative;
    img {
        &:first-of-type{
          width: 50%;
          z-index: 200;
        } 
        &:nth-of-type(2){
          width: 20px;
          height: 20px;
          z-index: 200;
        }
    }
    

    .menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      background-color: $Black;
      width: 100%;
      height: 100vh;
      justify-content: center;
      align-items: center;
      z-index: 100;
      padding-top:20%;

      &.show {
        display: block;
      }
      ul  {
        text-align: center;
        li {
          @include title;
          letter-spacing: 0px;
          list-style: none;
          font-size: 3rem;
          margin: 7% auto;
          a {
            text-decoration: none;
            color: $white;
          }
        }
      }
    }
 
  }

  .main-title {
    display: flex;
    align-items: center;
    margin: 40% 0;
        h1 {
          @include title;
            border: white solid 2px;
            width: 90%;
            margin: 0 auto;
            padding: 5%;
            word-spacing: 9999px;
            font-size: 2.5rem;
        }
  }
}

main {
  margin: 0 5%;
  section.interactive {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20% 0 30% 0 ;
    text-align: center;
    img {
      margin-bottom: 10%;
    }
    div.content {
      text-align: center;
      h2 {
        @include title;
        font-size: 2rem;
        margin-bottom: 5%
      }
      p {
        @include font-alata;
        color: $Very_Dark_Gray;
      }
    }
   
  }

  section.creations {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3, h2 {
      @include title;
    }
    h2 {
      margin-bottom: 15%;
      font-size: 1.75rem;
    }
    .cards {
      position: relative;
      margin-bottom: 5%;
      h3 {
        position: absolute;
        top: 50%;
        left: 5%;
        color: $white;
        width: 35%;
      }
    }
    
    .button {
      @include title;
      text-decoration: none;
      color: $Black;
      border: $Black solid 1px;
      padding: 3% 8%;
      font-weight: bold;
      font-size: 0.875rem;
      margin: 5% 0 20% 0;
    }
  }
}

footer {
  background-color: $Black;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include font-alata;
  text-align: center;
  padding: 10% 0;

  img {
    width: 35%;
    margin: 5% auto;
  }

  ul {
    list-style: none;
    li {
      margin: 30% 0 ;
      a {
        text-decoration: none;
        color: $white;
      }
    }
  }
  div.icons {
    margin: 5% 0;
    width: 50%;
    .icon-item {
      margin: 0 2%;
      img {
        width: 20px;
      }
    }
  }

  .attribution, p {
    color: $Dark_Gray;
    font-size: 0.875rem;
    a {
      text-decoration: none;
      color: $Dark_Gray;
    }
  }
}


@media only screen and (min-width:900px) {
  .hero {

    header {
      padding: 5% 10%;
      img {
        &:first-of-type {
          width: 15%;
        }
        &:nth-of-type(2) {
          display: none;
        }
      }
      .menu {
        all: initial;
        
        ul {
          display: flex;
          justify-content: flex-end;
          li {
            @include nav;
            margin: 0 8% 0 0 ;
          }
        }
      }
      
    }
    .main-title {
      margin: 0 auto;
      width: 80%;
      justify-content: center;
      h1 {
        margin: 0 auto 0 0 ;
        width: 60%;
        word-spacing: 0px;
        font-size: 5rem;
      }
    }
  }

  main {
    margin: 0;
    section.interactive {
      position: relative;
      width: 80%;
      margin: 15% auto;
      img {
        width: 70%;
        margin: 0 auto 0 0;
      }
      div.content {
        width: 50%;
        padding: 10% 0 0 10%;
        background-color: $white;
        position: absolute;
        bottom: 0;
        right: 0;
        h2 {
          font-size: 3rem;
        }
      }
    }
  }
}